<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qurui.fund_manage_sys.dao.CategoryDao">
    <select id="getCategoriesBy" parameterType="Category" resultType="java.util.HashMap">
        select * from category
        <where>
            <if test="category_id != 0">
                and category_id = #{category_id}
            </if>
            <if test="category_name != null">
                and category_name = #{category_name}
            </if>

        </where>
    </select>
</mapper>