<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qurui.fund_manage_sys.dao.ProjectDao">
    <select id="getProjectsBy" parameterType="Project" resultType="java.util.HashMap">
        select * from project
        <where>
            <if test="project_id != 0">
                and project_id = #{project_id}
            </if>
            <if test="project_name != null">
                and project_name = #{project_name}
            </if>
            <if test="project_status != 0">
                and project_status = #{project_status}
            </if>
            <if test="project_user_id != 0">
                and project_user_id = #{project_user_id}
            </if>
            <if test="project_budget != 0">
                and project_budget = #{project_budget}
            </if>
            <if test="project_balance != 0">
                and project_balance = #{project_balance}
            </if>
            <if test="project_create != null">
                and project_create = #{project_create}
            </if>
            <if test="project_deadline != null">
                and project_deadline = #{project_deadline}
            </if>
        </where>
    </select>

    <insert id="submitProject" parameterType="Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="project_name != null">
                project_name,
            </if>
            <if test="project_user_id != 0">
                project_user_id,
            </if>
            <if test="project_budget != 0">
                project_budget,
            </if>
            <if test="project_budget != 0">
                project_balance,
            </if>

            <if test="project_deadline != null">
                project_deadline,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="project_name != null">
                #{project_name},
            </if>

            <if test="project_user_id != 0">
                #{project_user_id},
            </if>
            <if test="project_budget != 0">
                #{project_budget},
            </if>
            <if test="project_budget != 0">
                #{project_budget},
            </if>
            <if test="project_deadline != null">
                #{project_deadline},
            </if>
        </trim>
    </insert>

    <update id="updateProjById" parameterType="Project">
        update project
        <set>
            <if test="project_name != null">
                project_name = #{project_name},
            </if>
            <if test="project_status != 0">
                project_status = #{project_status},
            </if>
            <if test="project_user_id != 0">
                project_user_id = #{project_user_id},
            </if>
            <if test="project_budget != 0">
                project_budget = #{project_budget},
            </if>
            <if test="project_deadline != null">
                project_deadline = #{project_deadline}
            </if>
        </set>
            where project_id = #{project_id}
    </update>


    <update id="refreshBalance">
        update project
        set project_balance = project_balance + #{amount}
        where project_id = #{project_id}
    </update>
    <select id="getBalanceById" resultType="Double">
        select project_balance from project where project_id = #{project_id}
    </select>
    <select id="getProjById" resultType="Project">
        select * from project where project_id = #{project_id}
    </select>
</mapper>